body {
    background-color: #f2f2f4;
    color: #4c5864;
}

.active {
    border-bottom: thick solid #01ab86;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 6px 10px -2px #888;
}

.home-container {
    max-width: 1300px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-row {
    padding: 15px;
    background-color: #fff;
}
.search-btn {
    width: 150px;
    background-color: #01ab86;
    color: white;
}

.search-btn:hover {
    background-color: #008567;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.tab-row {
    border-bottom: 1px solid #ccccce;
}

.nav-pills li {
    padding: 15px;
}
.nav-pills li.active {
    font-weight: 600;
}
.nav-pills a {
    color: #4c5864;
}

.main-row {
    padding-top: 30px;
    padding-bottom: 30px;
}

.filter-panel {
    padding-left: 0px;
}

.panel.panel-default {
    background-color: #fff;
    padding: 10px 15px;
    min-height: 590px;
}

.filter-title {
    font-size: 20px;
    font-weight: 600;
}
.panel-body, .panel-body select, .panel-body input {
    font-size: 12px;
}

.panel-body label {
    font-weight: 500;
}

/*
.panel-body select.form-control:not([size]):not([multiple]), .panel-body input.form-control {
    height: calc(1.25rem + 2px);
}
*/

.panel-body [type="checkbox"]:checked + label::after {
    background-color: #01ab86;
}

.panel-body [type="checkbox"]:checked + label::before {
    background-color: #01ab86;
}

.panel-body .filter-btn {
    text-align: right;
}
.panel-body .filter-btn button {
    background-color: #fff;
    color: #4c5864;
}

.panel-body .filter-btn button:hover, .panel-body .filter-btn button:active {
    color: #fff;
    background-color: #4c5864;
}

#projects-tab .top-row {
    padding-bottom: 10px;
}

#projects-tab .card {
    border-radius: 0px;
}

#projects-tab .card:hover {
    transform: scale(1.06);
}

#projects-tab .card-block {
    padding: 10px;
}

#projects-tab .card-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 3px;
    margin-bottom: 3px;
}

#projects-tab .card-text p {
    margin-bottom: 3px;
}

#projects-tab .card-text p:first-child {
    color: #3db257;
    font-weight: 600;
}

#projects-tab .fa {
    color: #4992df;
}