body {
    background-color: #f2f2f4;
    color: #4c5864;
}

.active {
    border-bottom: thick solid #01ab86;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 6px 10px -2px #888;
}

.home-container {
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-row {
    padding: 15px;
    background-color: #fff;
}
.search-btn {
    width: 100px;
    background-color: green;
    color: white;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.tab-row {
    border-bottom: 1px solid #ccccce;
}

.nav-pills li {
    padding: 15px;
}
.nav-pills li.active {
    font-weight: 600;
}
.nav-pills a {
    color: #4c5864;
}

.main-row {
    padding-top: 30px;
    padding-bottom: 30px;
}

.filter-panel {
    padding-left: 0px;
}

.panel.panel-default {
    background-color: #fff;
    padding: 10px 15px;
/*    position: fixed;*/
}

.filter-title {
    font-size: 20px;
    font-weight: 600;
}
.panel-body, .panel-body .form-control {
    font-size: 12px;
}
.panel-body label {
    font-weight: 500;
}

.panel-body select.form-control:not([size]):not([multiple]), .panel-body input.form-control {
    height: calc(1.25rem + 2px);
}

.panel-body .filter-btn {
    text-align: right;
}
.panel-body .filter-btn button {
    background-color: #fff;
    color: #4c5864;
}

#projects-tab .top-row {
    padding-bottom: 10px;
}

#projects-tab .row div {
    padding-left: 5px;
    padding-right: 5px;
}