body {
    background-color: #f2f2f4;
    color: #4c5864;
}
.home-container {
    max-width: 1000px;
}

.search-row {
    padding: 15px;
    background-color: #fff;
}
.search-btn {
    width: 100px;
    background-color: green;
    color: white;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-pills li {
    padding: 15px;
}
.nav-pills li.active {
    font-weight: 600;
    border-bottom-color: green;
}
.nav-pills a {
    color: #4c5864;
}

.filter-panel {
    padding-left: 0px;
}

.panel.panel-default {
    background-color: #fff;
    padding: 10px 15px;
}

.filter-title {
    font-size: 20px;
    font-weight: 600;
}
.panel-body, .panel-body .form-control {
    font-size: 12px;
}
.panel-body label {
    font-weight: 500;
}

.panel-body select.form-control:not([size]):not([multiple]), .panel-body input.form-control {
    height: calc(1.25rem + 2px);
}

#projects-tab .top-row {
    padding-bottom: 10px;
}

#projects-tab .row div {
    padding-left: 5px;
    padding-right: 5px;
}